.student {
  background-color: rgb(253, 255, 249); 
  border: 2px solid rgba(204, 153, 0, 0.9); 
  padding: 30px;
  width: 300px;
  cursor: pointer;
  border-radius: 10px;
}

.grid-view {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  background-color: rgb(255, 255, 255); 
}

@media (max-width: 1067px) {
  .grid-view {
    padding: 0 10px;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(238, 233, 233); 
  }
}

@media (max-width: 524px) {
  .grid-view {
    padding: 0 10px;
    grid-template-columns: 1fr;
    background-color: rgb(248, 246, 246);
  }
}